body{margin: 0px;padding: 0px;background-color: rgb(255, 243, 245);}
p{margin: 0;}

.flex{
    display: flex;
}

.hidden {
    display: none;
}

/*

wrap - area - box - div

*/

/* ------------ 게시글 부분 ------------ */
.article-wrap{
    margin: 2% 24%;
    justify-content: space-between;
    height: 80vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.article-image-area{
    width: 50%;
    border-radius: 30px 0px 0px 30px;
    border-right: 2px solid #dadada66;
}

.article-image-area img{
    width: 100%;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
}

.article-content-area{
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 0px 30px 30px 0px;
}

.content-up-area{
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 10px 30px;
    height: 9%;
    border-bottom: 2px solid #dadada66;
}

.account-box1{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.a-account_image{
    border: 1px solid #dadada66;
    border-radius: 50%;
    height: 100%;
}

.a-account-btn{
    margin-bottom: 10px;
    background: none;
    border: none;
    padding: 0px;
    font-size: 11pt;
    font-family: 'NanumSquareBold';
}

.account-box2{
    align-items: center;
}

.a-update-btn{
    font-size: 10pt;
    border: none;
    background: none;
    padding: 3px;
    font-family: 'NanumSquare';
}

.a-delete-btn{
    margin-right: 5px;
}

.a-save-btn{
    border: none;
    background: none;
}

.content-down-area{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 72%;
    padding: 30px;
}

.content-box{
    height: 100%;
}

.content-text{
    height: 85%;
}

.content-tag{
    border-radius: 10px;
    border: none;
    padding: 7px;
    margin-right: 5px;
    font-family: 'NanumSquare';
}

.content-tag:hover{
    color: rgb(85, 187, 247);
    font-family: 'NanumSquareBold';
}

/* --------- 댓글부분 --------- */

.comment-area {
    margin: 2% 24%;
    justify-content: space-between;
    height: auto;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    background: white;
    padding: 43px 30px 30px 30px;
}

.comment-input-box{
    /*margin: 0px 5px 10px 5px;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    border: 2px solid #dadada;
    border-radius: 10px;
}

.comment-input{
    width: 90%;
    /*margin-right: 10px;*/
    border: none;
    /*background-color: lightgray;*/
    outline: none;
    font-family: 'NanumSquareBold';
    margin: 10px;
}

.comment-input::placeholder {
    color: #dadada;
}

.comment-input-btn{
    background: none;
    border: none;
    font-family: 'NanumSquareBold';
    color: #dadada;
}

.comment-content-box1{
    width: 80%;
}

.c-content-name{
    font-family: 'NanumSquareExtraBold';
    margin-bottom: 10px;
}

.c-content-text{
    font-family: 'NanumSquare';
}

.comment-content-box2{
    align-items: center;
    margin-top: 10px;
}

.c-content-date{
    font-family: 'NanumSquare';
    margin-right: 10px;
    font-size: 10pt;
    color: #aeadad;
}

.c-content-btn{
    border: none;
    background: none;
    font-family: 'NanumSquare';
    color: #aeadad;
    margin-right: 10px;
    padding: 0;
}

.comment-box{
    /*background-color: gray;*/
    /*margin: 10px 30px;*/
    border-radius: 13px;
    /*background-color: lightgray;*/
    padding: 5px;
    border: 2px solid #dadada66;
}

.comment-box:hover{
    cursor: pointer;
    border: 2px solid lightgray;
}

/* 대댓 */
.ref{
    margin: 25px 5px 25px 35px;
    background: #dadada4f;
    padding: 20px;
    border-radius: 6px;
}

.comment-input-box2{
    /*margin: 0px 5px 10px 5px;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    border: 2px solid #dadada;
    border-radius: 10px;
    margin-left: 50px
}

.comment-input2{
    width: 90%;
    /*margin-right: 10px;*/
    border: none;
    /*background-color: lightgray;*/
    outline: none;
    font-family: 'NanumSquareBold';
    margin: 10px;
}

.comment-input2::placeholder {
    color: #dadada;
}

.comment-input-btn2{
    background: none;
    border: none;
    font-family: 'NanumSquareBold';
    color: #dadada;
}

.a-update-btn:hover, .comment-input-btn:hover, .c-content-btn:hover{
    color: gray;
    cursor: pointer;
}

.a-account-btn:hover, .a-account_image:hover, .comment-addBtn:hover,.c-content-name:hover,.content-tag:hover,.comment-user-btn:hover{
    cursor: pointer;
}
