<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.moapicture.mapper.CreatedMapper">

    <!-- post_id maxnum -->
    <select id="postMaxNum" resultType="int">
        select nvl(max(post_id),0) from post
    </select>

    <!-- image_id maxnum -->
    <select id="imageMaxNum" resultType="int">
        select nvl(max(image_id),0) from image
    </select>

    <!-- tag_id maxnum -->
    <select id="tagMaxNum" resultType="int">
        select nvl(max(tag_id),0) from hashtag
    </select>

    <!-- like_id maxnum -->
    <select id="likeMaxNum" resultType="int">
        select nvl(max(like_id),0) from user_like
    </select>

    <!-- user_nicname 조회 -->
    <select id="selectNickname" parameterType="String" resultType="String">
        select user_nickname from user_info where user_email=#{user_email}
    </select>

    <!-- post테이블 insert -->
    <insert id="insertPost" parameterType="com.project.moapicture.dto.PostDTO">
        insert into post (post_id,user_email,post_title,post_content,user_nickname)
        values (#{post_id},#{user_email},#{post_title},#{post_content},#{user_nickname})
    </insert>

    <!-- image테이블 insert -->
    <insert id="insertImage" parameterType="com.project.moapicture.dto.ImageDTO">
        insert into image (image_id,image_savename,image_originalname,image_url,post_id)
        values (#{image_id},#{image_savename},#{image_originalname},#{image_url},#{post_id})
    </insert>

    <!-- hashtag테이블 insert -->
    <insert id="insertHashtag" parameterType="com.project.moapicture.dto.HashtagDTO">
        insert into hashtag (tag_id,tag_name)
        values (#{tag_id},#{tag_name})
    </insert>

    <!-- post_hashtag테이블 insert -->
    <insert id="insertPostHashtag" parameterType="com.project.moapicture.dto.PostHashtagDTO">
        insert into post_hashtag (post_id,tag_id)
        values (#{post_id},#{tag_id})
    </insert>

    <!-- user_like테이블 insert -->
    <insert id="insertUserLike" parameterType="com.project.moapicture.dto.LikeDTO">
        insert into user_like (like_id,post_id,user_email)
        values (#{like_id},#{post_id},#{user_email})
    </insert>

    <!-- 여기부터는 수정!! -->

    <!-- post테이블 update -->
    <update id="updatePost" parameterType="com.project.moapicture.dto.PostDTO">
        update post set post_title=#{post_title},post_content=#{post_content},pupdated_date=sysdate where post_id=#{post_id}
    </update>

    <!-- image테이블 update -->
    <update id="updateImage" parameterType="com.project.moapicture.dto.ImageDTO">
        update image set image_savename=#{image_savename},image_originalname=#{image_originalname},image_url=#{image_url} where post_id=#{post_id}
    </update>

    <!-- hashtag와 post_hashtag테이블 수정을 위한 delete -->
    <delete id="deleteHashtags" parameterType="int">
        delete from post_hashtag where post_id=#{post_id}
    </delete>

</mapper>